.container { 
    width: 50%;
    margin: auto;
}

.item { 
    background-color: aliceblue;
    border: 1px solid transparent;
    width: 400px;
    margin: 10px auto auto auto;
    padding: 7px;
    border-radius: 20px;
}